

/*  (Display Math - $$) */
mjx-container[display="true"] {
    margin-top: 1em !important;    
    margin-bottom: 1em !important; 
    display: block;
    outline: none;
}

mjx-container:not([display="true"]) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 0.1em; 
}


/* Espaciado y centrado de imágenes */
article img {
    display: block;
    margin-top: 2em !important;    
    margin-bottom: 2em !important; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;            
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.md-logo img {
    height: 60px !important; 
    width: auto;
}

.md-header__button.md-logo {
    padding: 5px;
}

[data-md-color-scheme="default"] .md-logo img {
    content: url('../assets/logo.svg');
}

[data-md-color-scheme="slate"] .md-logo img {
    content: url('../assets/logo2.png');
}